:root {
  --cell-size: 75px;
  --cell-gap: 10px;
  --brd-radius: 5px;
  --value: #252525;
  --background-light: #fbf8ef;
  --background-dark: #171d23;
  --text-light: #f9f6f2;
  --text-dark: #262f38;
  --text-info: #534d47;
  --text-message-light: #9a8e84;
  --background-start: #1dae28;
  --bg-start-hover: #179921;
  --bg-restart: #f1b2b2;
  --bg-restart-hover: #f87474;
  --bg-switcher: #bcccdc;
  --bg-game-field-light: #bbada0;
  --bg-cell-light: #d6cdc4;
  --bg-info: #8fd6e1;
  --background-title: #edc22e;
  --bg-message: #cbe4de;
  --bg-message-win: #edc22e;
  --bg-message-lose: #b52b65;
}

@font-face {
  font-family: icon-font;
  src: url("icon-font.5a12fb83.eot");
  src: url("icon-font.5a12fb83.eot#iefix") format("embedded-opentype"), url("icon-font.c95a057c.ttf") format("truetype"), url("icon-font.5d57f226.woff") format("woff"), url("icon-font.73ee67f4.svg#icon-font") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-family: icon-font, sans-serif !important;
}

.icon-arrow:before {
  content: "";
}

.body {
  box-sizing: border-box;
  background: var(--background-light);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 900;
  transition: background .3s, color .3s;
  display: flex;
}

@media (width <= 1024px) {
  .body {
    align-items: start;
  }
}

.body--dark-theme {
  background: var(--background-dark);
  color: var(--value);
}

.game {
  flex-direction: column;
  align-items: center;
  width: 350px;
  display: flex;
  position: relative;
}

.game-header {
  padding: var(--cell-gap);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
  display: flex;
}

h1 {
  background: var(--background-title);
  color: var(--text-light);
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: var(--brd-radius);
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 24px;
  display: flex;
}

.theme-switcher {
  box-sizing: border-box;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: var(--brd-radius);
  background: var(--bg-switcher);
  cursor: pointer;
  transition: background .3s;
  position: relative;
  overflow: hidden;
}

@media (any-hover: hover) {
  .theme-switcher:hover {
    background: var(--bg-info);
  }
}

.theme-switcher__light {
  width: 50%;
  transition: right .5s;
  position: absolute;
  top: 0;
  right: 0;
}

.theme-switcher__light.active {
  right: 100%;
}

.theme-switcher__dark {
  width: 50%;
  transition: left .5s;
  position: absolute;
  top: 0;
  left: 0;
}

.theme-switcher__dark.active {
  left: 100%;
}

.controls {
  display: flex;
}

.info {
  background: var(--bg-info);
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: var(--brd-radius);
  color: var(--text-info);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 8px 0 0;
  font-size: 16px;
  display: flex;
}

.button {
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: var(--brd-radius);
  cursor: pointer;
  color: var(--text-light);
  border: none;
  outline: none;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  transition: background .3s;
}

.start {
  background: var(--background-start);
  font-size: 20px;
}

.start:hover {
  background: var(--bg-start-hover);
}

.restart {
  background: var(--bg-restart);
}

.restart:hover {
  background: var(--bg-restart-hover);
}

.game-field {
  background: var(--bg-game-field-light);
  gap: var(--cell-gap);
  border: var(--cell-gap) solid var(--bg-game-field-light);
  border-radius: var(--brd-radius);
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  transition: background .3s, border-color .3s;
  display: grid;
  position: relative;
}

.game-field.dark-theme {
  background: var(--value);
  border-color: var(--value);
}

.field-cell {
  background: var(--bg-cell-light);
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: var(--brd-radius);
  color: var(--text-info);
  box-sizing: border-box;
  text-align: center;
  vertical-align: center;
  -webkit-user-select: none;
  user-select: none;
}

.field-cell.dark-theme {
  background: var(--background-dark);
}

.tile {
  --row: 0;
  --col: 0;
  top: calc(var(--row) * (var(--cell-size)  + var(--cell-gap)));
  left: calc(var(--col) * (var(--cell-size)  + var(--cell-gap)));
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: var(--brd-radius);
  justify-content: center;
  align-items: center;
  transition: top .3s, left .3s;
  animation: .3s show;
  display: flex;
  position: absolute;
}

.tile--2 {
  background: #eee4da;
}

.tile--4 {
  background: #ede0c8;
}

.tile--8 {
  color: var(--text-light);
  background: #f2b179;
}

.tile--16 {
  color: var(--text-light);
  background: #f59563;
}

.tile--32 {
  color: var(--text-light);
  background: #f67c5f;
}

.tile--64 {
  color: var(--text-light);
  background: #f65e3b;
}

.tile--128 {
  color: var(--text-light);
  background: #edcf72;
}

.tile--256 {
  color: var(--text-light);
  background: #edcc61;
}

.tile--512 {
  color: var(--text-light);
  background: #edc850;
}

.tile--1024 {
  color: var(--text-light);
  background: #edc53f;
}

.tile--2048 {
  color: var(--text-light);
  background: #edc22e;
}

@keyframes show {
  0% {
    opacity: .5;
    transform: scale(0);
  }
}

.message-container {
  width: 100%;
  height: 150px;
}

@media (width <= 1024px) {
  .message-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.message {
  box-sizing: border-box;
  background: var(--bg-message);
  color: var(--text-message-light);
  text-align: center;
  border-radius: var(--brd-radius);
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

.message-win {
  background: var(--bg-message-win);
  color: var(--text-light);
}

.message-lose {
  background: var(--bg-message-lose);
  color: var(--text-light);
}

.hidden, .control {
  display: none;
}

@media (width <= 1024px) {
  .control {
    gap: var(--cell-gap);
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    display: grid;
  }

  .control__button {
    width: var(--cell-size);
    height: var(--cell-size);
    background: var(--bg-switcher);
    border-radius: var(--brd-radius);
    cursor: pointer;
    color: var(--text-light);
    border: none;
    outline: none;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 700;
  }

  .control__button--up {
    grid-area: 1 / 2 / 2 / 3;
  }

  .control__button--down {
    grid-area: 2 / 2 / 3 / 3;
    transform: rotate(180deg);
  }

  .control__button--left {
    grid-area: 2 / 1 / 3 / 2;
    transform: rotate(-90deg);
  }

  .control__button--right {
    grid-area: 2 / 3 / 3 / 4;
    transform: rotate(90deg);
  }
}
/*# sourceMappingURL=index.971c2ea4.css.map */
